<h2>My Heroes</h2>

<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink='/detail/{{hero.id}}'>
        <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
    <button class="delete" title="delete hero"
    (click)="delete(hero)">x</button>
  </li>
</ul>
<div>
  <label for="new-hero-name">Hero name: </label>
  <input id="new-hero-name" #heroName>

  <label for="new-hero-points">Hero points: </label>
  <input  type="number" id="new-hero-points" #heroPoints>


  <button class="add-button" (click)='add(heroName.value, heroPoints.value); heroName.value="";  heroPoints.value=""'>Add Hero</button>

</div>

